* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f4f8fb;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 58vw;
    background-color: #fdfffe;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 15px 15px 10px #e0e1e5;
}

/* Header */
.header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #508ee1;
    display: flex;
}

.header .left {
    flex: 3.2;
    display: flex;
    justify-content: center;
    margin-top: 7vh;
    margin-right: 3vw;
}

.header .right {
    flex: 6.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 5vh;
    color: white;
}

.header .left img {
    border-top: 0.8vh solid white;
    border-right: 0.8vh solid white;
    border-left: 0.8vh solid white;
    width: 160px;
    height: 160px;
    margin-bottom: -1vh;
}

.header .right .button button {
    margin-top: 1vh;
    border: none;
    border-radius: 20px;
    padding: 1.5vh 1.5vw;
}

.header .right .button .button1 {
    background-color: #fbffff;
    color: black;
    margin-right: 1vh;
}

.header .right .button .button2 {
    background-color: #37bb9a;
    color: white;
}

/* Content */
.content {
    display: flex;
    padding: 5vh 3vw;
}

.content .left {
    flex: 5.5;
    margin-right: 4vw;
}

.content .right {
    flex: 4.5;
}

.content .left h2 {
    margin-bottom: 2vh;
}

.content .left p {
    line-height: 3vh;
    text-align: justify;
}

.content .right table {
    margin-top: 2vh;
    line-height: 3.5vh;
}

.content .right table tr .th {
    width: 6vw;
}

/* Footer */
.footer {
    display: flex;
    padding: 0 3vw;
    margin-top: 4vh;
}

.footer .left {
    flex: 7;
}

.footer .right {
    flex: 5;
    line-height: 4.5vh;
    margin-top: 4.5vh;
}

.footer .left h2 {
    margin-bottom: 2vh;
}

.footer .left .input input {
    flex: 1;
    width: 11.8vw;
    padding: 1vh 1vw;
    background-color: #f6fafb;
    border: 3px solid #eceef1;
    border-radius: 5px;
    margin-bottom: 1.5vh;
}

.footer .left textarea {
    flex: 1;
    padding: 1vh 1vw;
    line-height: 3vh;
    background-color: #f6fafb;
    border: 3px solid #eceef1;
    border-radius: 5px;
    width: 26.4vw;
    height: 12vh;
}

.footer .left button {
    background-color: #4a89d1;
    color: #fbfffd;
    margin-top: 2vh;
    margin-bottom: 3vh;
    border: none;
    border-radius: 20px;
    padding: 1.5vh 1.5vw;
}
